<ion-view view-title="Edit Schedule">
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="saveedit()">
        Save
      </button>
    </ion-nav-buttons>
  <ion-content>
	<ion-list>
		<ion-item ng-repeat="interval in weekdays.slot[dayId].interval" class="item-remove-animate item-edittime">
			<div style="text-align: center;">
				<span class="time">{{interval.start_time/3600 | floor | zpad:2}}:{{interval.start_time%3600/60 | floor | zpad:2}}</span>
				&nbsp;-&nbsp;
				<span class="time">{{interval.end_time/3600 | floor | zpad:2}}:{{interval.end_time%3600/60 | floor | zpad:2}}</span>
				<div>
					<input type="time" step="900" id="starttime" ng-model="interval.start_time_temp" placeholder="HH:mm" min="09:00" max="23:00" style="display: inline-block;">
					<input type="time" step="900" id="endtime" ng-model="interval.end_time_temp" placeholder="HH:mm" min="09:00" max="23:00" style="display: inline-block;">
				</div>
			</div>
			<ion-option-button class="button-assertive" ng-click="delTimeslot(dayId, $index)">
			  Delete
			</ion-option-button>
		</ion-item>


	</ion-list>
  </ion-content>
	<div class="bar bar-footer" style="padding: 0;">
		<div class="button-bar">
			<button class="button button-large" ng-click="addTimeslot(dayId)" style="font-size: 16px;">
				Add another slot
			</button>
		</div>
	</div>
</ion-view>
