<ion-view view-title="Dashboard">
	<ion-content>
	   <ion-list>
		  <div class="list card">
			<div class="item item-divider">Upcoming Service</div>
			<div class="item item-body">
			  <div style="line-height:27px;">
				{{request.customer_name}}.</br>
				{{convertLongDate(request.service_time) | date: 'MM/dd hh:mm a'}}</br>
				{{request.address.address_line}}, {{request.address.city}}, {{request.address.state}} {{request.address.zipcode}}</br>
				{{request.service_type}} for {{request.service_duration/60}} Hour(s)</br>
			  </div>
			</div>
			<a class="item item-icon-left positive" href="#" ng-click="doCheckin()" style="font-weight:500;">
			  <i class="icon ion-android-checkbox-outline"></i> Check in
			</a>
			<!--<button class="button button-full button-positive" ng-click="">Check in</button>-->
		  </div>
		</ion-list>
	</ion-content>
</ion-view>

