<ion-view view-title="Dashboard">
	<ion-content>
	   <ion-list>
		  <div class="list card">
			<div class="item item-divider">Upcoming Service</div>
			<div class="item item-body">
			  <div style="line-height:27px;">
				John D. </br>
				Nov 19, 6pm</br>
				2250 3rd St, San Francisco, CA 94107</br>
				Deep Tissue Massage for 1 Hour</br>
			  </div>
			</div>
			<a class="item item-icon-left positive" href="#" ng-click="doCheckin()" style="font-weight:500;">
			  <i class="icon ion-android-checkbox-outline"></i> Check in
			</a>
			<!--<button class="button button-full button-positive" ng-click="">Check in</button>-->
		  </div>
		</ion-list>
	</ion-content>
</ion-view>

