<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable" style="height:120px;">
		<div style="padding:10px; width: 100%;">
			<img src="img/default.jpeg" height="50px" style="border-radius: 25px;">
			<div style="font-size:18px;display: block;padding-top: 10px;">
				<span style="font-weight:500;">John Doe</span>
				<span style="float:right;">5★</span>
			</div>
		</div>
    </ion-header-bar>
    <ion-content style="top:120px;">
      <ion-list>
        <ion-item menu-close href="#/app/home">
          Home
        </ion-item>
        <ion-item menu-close href="#/app/history">
          History
        </ion-item>
        <ion-item menu-close href="#/app/schedule">
          Schedule
        </ion-item>
        <ion-item menu-close href="#/app/working">
          Working
        </ion-item>
        <ion-item menu-close href="#/app/login">
          Logout
        </ion-item>
        <ion-item menu-close href="#/app/test">
          Test
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
