<ion-view view-title="Requests">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="request in requestlist" class="item-icon-right" ng-click="openOrder($index)">
        <div style="display: inline-block; width: 100%;">
			<span style="float:left">{{request.date | date: 'shortDate'}}</span>
			<span style="float:right">${{request.earn}}</span>
		</div>
		<div>{{request.city}}</div>
		<i class="icon ion-chevron-right icon-accessory" style=""></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
