<ion-view view-title="Schedule" >
    <ion-nav-buttons side="right">
      <button class="button button-icon button-clear" ng-click="saveedit()">
        Save
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
		<ion-item  ng-repeat="day in weekdays" ng-href="#/app/editschedule/{{$index}}" class="item-remove-animate item-icon-right" >
			<div style="width: 100%;">
				<day-schedule info="weekdays[$index]" style="display: inline;"></day-schedule>
				<i class="icon ion-chevron-right icon-accessory" style=""></i>
			</div>
		</ion-item >
	</ion-list>
  </ion-content>
</ion-view>
