<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Working</h1>
  </ion-header-bar>
  <ion-content scroll="false">
   <ion-list>
		<div class="list card">
		<div class="item item-divider">Current Service</div>
		<div class="item item-body">
			<div style="line-height:27px;">
			John D. </br>
			Nov 19, 6pm</br>
			2250 3rd St, San Francisco, CA 94107</br>
			Deep Tissue Massage for 1 Hour</br>
			</div>
		</div>
		<!--<a class="item item-icon-left positive" href="#" ng-click="doCheckout()" >
		  <i class="icon ion-android-checkbox-outline"></i> Check out
		</a>-->
		</div>
		<div class="round-button">
			<div class="round-button-circle">
				<a class="round-button light" href="#" ng-click="doAlert()">Emergency</a>
			</div>
		</div>
	</ion-list>

	<!--<button class="button button-assertive">
	  Report an emergency
	</button>-->
  </ion-content>
  <div class="bar bar-footer" style="height:50px;" ng-click="doCheckout()">
    <a class="button button-positive" style="width:100%;font-size: 16px;line-height: 37px;font-weight:500;">Checkout</a>
  </div>
</ion-modal-view>
