<ion-modal-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Working</h1>
  </ion-header-bar>
  <ion-content scroll="false">
   <ion-list>
		<div class="list card">
		<div class="item item-divider">Current Service</div>
		<div class="item item-body">
			<div style="line-height:27px;">
			{{request.customer_name}}.</br>
			{{convertLongDate(request.service_time) | date: 'MM/dd hh:mm a'}}</br>
			{{request.address.address_line}}, {{request.address.city}}, {{request.address.state}} {{request.address.zipcode}}</br>
			{{request.service_type}} for {{request.service_duration/60}} Hour(s)</br>
			</div>
		</div>
		<!--<a class="item item-icon-left positive" href="#" ng-click="doCheckout()" >
		  <i class="icon ion-android-checkbox-outline"></i> Check out
		</a>-->
		</div>
		<div class="round-button">
			<div class="round-button-circle">
				<a class="round-button light" href="#" ng-click="doAlert()">Emergency</a>
			</div>
		</div>
	</ion-list>

	<!--<button class="button button-assertive">
	  Report an emergency
	</button>-->
  </ion-content>
  <div class="bar bar-footer" style="height:50px;" ng-click="doCheckout()">
    <a class="button button-positive" style="width:100%;font-size: 16px;line-height: 37px;font-weight:500;">Checkout</a>
  </div>
</ion-modal-view>
