/* Empty. Add your own CSS if you like */
.container {
	padding: 5px;
}

.toggle-middle .handle{
	top: inherit;
}

.toggle-small .handle{
	margin-top: -3px;
}

.toggle-middle .toggle{
	margin: 0;
	top: 0px !important;
}

.item-edittime .item-content{
	padding:16px;
}